* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: sans-serif;
    background: initial;
    border: initial;
}

img{
    width: 150px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ef5350;
    border-radius: 10px;
    width: 10px;
}

header {
    height: 10dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    background-color: #ef5350;
    color: white;
}
.header-content-wrapper{
display: flex;
            flex-direction: column;
}
.headline-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
width: 200px;
    h1 {
        font-size: 32px;
    }
}

input{
    border: 1px solid black;
}

.search-container {
    display: flex;
    gap: 10px;
}

main {
    background-color: whitesmoke;
    height: calc(100dvh - 10dvh - 8dvh);
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pokemon-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    width: 100%;
}

.load-more-section {
    display: flex;
    justify-content: center;
    padding: 24px;
}

footer {
    height: 8dvh;
    background-color: #ef5350;
}

.card-content-section {
    height: 200px;
    width: 200px;
    background: linear-gradient(145deg, #1f1f2e, #2a2a40);
    border-radius: 16px;
    padding: 16px 0;
    text-align: center;
    color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pokemon-card-wrapper {
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.load-more-btn {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #ef5350;
}

.load-more-btn:hover {
    opacity: 0.8;
}

.load-more-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.type-wrapper {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

div{
    display: flex;
    gap: 10px;
}
}

.search-btn{
    border: 1px solid white;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

dialog{
    margin: auto;
    border: 10px solid black;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    padding: 10px;
background: linear-gradient(145deg, #1f1f2e, #2a2a40);


    .dialog-headline-wrapper{
        
        display: flex;
        justify-content: center;
        gap: 40px;

        h2{
            color: white;
        }
    }

    .dialog-img-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .dialog-type-wrapper{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;

        p{
            color: white;
        }
    }

    .stats-table-wrapper{
        margin-top: 20px;

        table{
            width: 100%;

            tr{
                width: 100%;

                td{
                    color: white;
                    text-align: left;
                }
            }
        }
    }

    .spipe-btn-wrapper{
        margin-top: 5px;
        display: flex;
        justify-content: space-around;
    }
}

dialog::backdrop{
    opacity: 0.5;
    background-color: black;
}

.dialog-img-content{
    height: 180px;
    width: 180px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 100%;
}

button{
    height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.close-btn{
    border: none;
}

.pokemon-card-wrapper img:hover{
    transform: scale(1.1);
}

.spinner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    inset: 0;
    z-index: 998;
}

.spinner{
    height: 100px;
    width: 100px;
    border: 8px solid red;
    border-top: 8px solid blue;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

.d-none{
    display: none;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}

.header-content-wrapper{
    display: flex;
    justify-content: center;
    max-width: 1440px;
}

.load-more-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}